* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Electrolize', sans-serif;
  background: #2C3E50;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4CA1AF, #2C3E50);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4CA1AF, #2C3E50);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

a {
  text-decoration: none;
  color: #ffffff; }

ul {
  list-style-type: none; }

li {
  margin: 0 1rem; }

.texting {
  color: #ffffff; }

.logo {
  width: 10rem;
  top: 1rem; }

.section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .section__card {
    width: 20%;
    padding: 1rem 1rem;
    margin: 1rem;
    background-color: #546a7b;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center; }

.social__img {
  width: 2rem; }

.products__cards {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-items: center;
  grid-template-areas: "div div div" "div div div"; }

.products__card__img {
  padding: 1rem 1rem;
  margin: 1rem;
  color: #ffffff;
  background: #141616;
  background: -moz-radial-gradient(circle, #141616 12%, #43314f 100%);
  background: -webkit-radial-gradient(circle, #141616 12%, #43314f 100%);
  background: radial-gradient(circle, #141616 12%, #43314f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141616",endColorstr="#43314f",GradientType=1);
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

@media screen and (max-width: 768px) {
  .products__cards {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-items: center;
    grid-template-areas: "div div" "div div" "div div"; } }

@media screen and (max-width: 560px) {
  .products__cards {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    grid-template-areas: "div" "div" "div" "div" "div" "div"; } }

.section__about, .section__about__p {
  width: 100%;
  padding: 5rem 10rem;
  margin: 0rem 0rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center; }

.section__about__p {
  background: #141616;
  background: -moz-radial-gradient(circle, #141616 12%, #43314f 100%);
  background: -webkit-radial-gradient(circle, #141616 12%, #43314f 100%);
  background: radial-gradient(circle, #141616 12%, #43314f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141616",endColorstr="#43314f",GradientType=1); }

@media screen and (max-width: 768px) {
  .section__about, .section__about__p {
    width: 100%;
    padding: 5rem 10rem;
    margin: 0rem 0rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .section__about__p {
    width: 100%;
    padding: 5rem 10rem;
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 560px) {
  .section__about, .section__about__p {
    width: 100%;
    padding: 5rem 1rem;
    margin: 0rem 0rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .section__about__p {
    width: 100%;
    padding: 5rem 1rem;
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center; } }
