.products__cards{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
    grid-template-areas: 
        "div div div"
        "div div div";
}
.products__card__img{
    padding: 1rem 1rem;
    margin: 1rem;
    color: map-get($palet , "text");
    background: rgb(20,22,22);
    background: -moz-radial-gradient(circle, rgba(20,22,22,1) 12%, rgba(67,49,79,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(20,22,22,1) 12%, rgba(67,49,79,1) 100%);
    background: radial-gradient(circle, rgba(20,22,22,1) 12%, rgba(67,49,79,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141616",endColorstr="#43314f",GradientType=1);
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 768px){
    .products__cards{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-items: center;
        grid-template-areas: 
            "div div"
            "div div"
            "div div";
    }
}
@media screen and (max-width: 560px){
    .products__cards{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-items: center;
        grid-template-areas: 
            "div"
            "div"
            "div"
            "div"
            "div"
            "div";
    }
}